.App {
  text-align: center;
}

.App-side {
  position: fixed;
  height: 100%;
  width: 250px;
  background: #404040;
  overflow: auto;
}

.App-logo {
  height: 80px;
  text-align: center;
}
.App-logo img {
  animation: App-logo-spin infinite 20s linear;
}

.App-main {
  padding: 24px;
  margin-left: 250px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-card {
  margin-bottom: 25px;
}
.App-image {
  display: block;
  border-radius: 0 0 0 4px;
}
.App-content {
  overflow: auto;
  padding: 10px 16px;
}